<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>موجود</string>
	<key>CFBundleIdentifier</key>
	<string>com.orem.mawjood</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>تطبيق موجود </string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImages.launchimage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location will be accessed to find nearby people , to display your location in map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be accessed to find nearby people , to display your location in map.</string>
	<key>NSCameraUsageDescription</key>
	<string>You can take photos to attach to your pofile.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can take photos to attach to your pofile.</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans-Light.otf</string>
		<string>IBMPlexSans-Medium.otf</string>
		<string>IBMPlexSans-Regular.otf</string>
		<string>IBMPlexSans-SemiBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
</dict>
</plist>
